<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Itsp2WebServiceNamespace" value="http://218.207.214.74:1433/WebService/WebService/Itsp2WebService.asmx" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="password" value="12345678" />
    <add key="saas_id" value="00000000-0000-0000-0000-000000000000" />
    <add key="initFlag" value="true"/>

  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>